.project-card {
  position: relative;
  overflow: hidden;
  height: 250px;
  border-radius: 0.375rem;
  cursor: pointer;
  color: white;
  display: flex;
  width: 100%;
  background-color: #30455c;

  .card-content {
    position: absolute;
    z-index: 10;
    inset: 0;
    padding: 1.25rem;
    display: flex;
    align-items: center;

    .text-content {
      position: absolute;
      inset: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
      transition: all 0.3s ease-out;
      width: 330px;
      z-index: 5;

      .project-title {
        padding: 0.5rem 0;
        font-size: 1.3rem;
        font-weight: bold;
        max-width: 13ch;
      }
      .project-description {
        margin-bottom: 8px;
        width: 30ch;
        font-size: 1rem;
        opacity: 0.7;
        padding-bottom: 0.5rem;
      }
    }
    .preview-icons {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      right: 20px;
      top: 20px;
      opacity: 0;
      z-index: 100;
      gap: 1rem;
      transition: opacity 0.3s ease-out;

      a {
        color: #30455c;
      }
    }
  }
}

.icons {
  display: flex;
  gap: 8px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
}

.project-image {
  position: absolute;
  right: 1.25rem;
  height: 100%;
  right: -20%;
  transition: all 0.7s ease-out;
  z-index: 1;
}

.image-gradient {
  position: absolute;
  height: 100%;
  right: 1.25rem;
  width: 100%;
  background: linear-gradient(to right, #30455c 65%, transparent 100%);
  transition: all 0.7s ease-out;
  z-index: 2;
}

.edit-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  transition: all 0.5s ease-out;
}

.project-card:hover .text-content {
  padding-left: 0;
  opacity: 0;
}

.project-card:hover .preview-icons {
  opacity: 1;
}

.project-card:hover .project-image {
  content: cover;
  right: 50%;
  transform: translateX(50%);
}

.project-card:hover .image-gradient {
  right: 500px;
}
.project-card:hover .edit-icon {
  transform: scale(1);
}
.shadow {
  filter: drop-shadow(0px 0px 10px white) drop-shadow(0px 0px 20px white);
}

@media (min-width: 768px) {
  .project-image {
    position: absolute;
    right: 1.25rem;
    height: 100%;
    right: -40%;
    transition: all 0.7s ease-out;
    z-index: 1;
  }
}
