/* Board.css */
.board-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.grid {
  display: grid;
  width: 100%;
  height: 100%;
  position: relative;
}

.grid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 1) 60%
  );
  z-index: 3; /* La capa de degradado */
  pointer-events: none; /* Permite la interacción con los botones debajo del degradado */
}

.cell {
  width: 100%;
  height: 100%;
  border: 2px solid #ddd;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 2; /* Las celdas están por encima del degradado */
}

.cell.active {
  background-color: #000;
}

.playbutton-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3; /* El botón de play/pause está por encima de todo */
}
