.hero-container {
  width: 100%;
  display: flex;
  align-items: center;

  .me-container {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .me {
      display: flex;
      justify-content: center;
      flex-direction: column;
      max-width: 36rem;
      gap: 2rem;

      .title {
        font-size: 3rem;
        line-height: 1;
        font-weight: 700;
        color: #30455c;
      }

      .description {
        font-size: 1.25rem;
        color: #30455c;
      }

      .hero-icons {
        display: flex;
        gap: 2rem;
        width: 100%;
        justify-content: center;
      }
    }
  }

  .img-container {
    width: 280px;
    display: flex;
    justify-content: center;

    img {
      max-height: 200px;
      border-radius: 9999999px;
    }
  }
}

@media (max-width: 768px) {
  .me-container {
    display: block;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5rem;

    .img-container {
      order: -1;
      width: 100%;
      margin-bottom: 1rem;
    }

    .me {
      align-items: center;
    }

    .img-container img {
      max-height: 150px;
    }
  }
}
