.button {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.button.active {
  background-color: #d1d5db; /* gray-300 */
}

.button.active:hover {
  background-color: #9ca3af; /* gray-400 */
}

.button.inactive {
  background-color: #34d399; /* green-400 */
}

.button.inactive:hover {
  background-color: #10b981; /* green-500 */
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}
