.card {
  display: flex;
  border: 1px solid transparent;
  border-radius: 15px;
  background: fixed #30455c;
  cursor: pointer;
  margin: 0px;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  transition: all 0.25s ease-in 0s;
  color: #d0dbe7;
  padding: 10px;
}
