.grid-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.skill-container {
  display: flex;
  width: 400%;
  flex-direction: row;
  gap: 20px;
}

.carrousel {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 20px;
  animation-name: carrousel;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-duration: 25s;
  width: 200%;
}

@keyframes carrousel {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .skill-container {
    display: flex;
    width: 1000%;
    flex-direction: row;
    gap: 20px;
  }
}
